.App {
  /* text-align: center; */
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
h1{
  font-weight: bold;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-add-med{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.btn-pic{
  width: 47px;
  /* height: 50px; */

}

.input-row{
  margin: 20px 0px;
}

.form-check-input--cursor{
  cursor: pointer;
}



/* .modal-background{
display: flex;
position: absolute;
top: 0;
width: 100%;
height: 100%;
background-color: #0b0e07;
opacity: 0.8;
} */

/* .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */

/* } */ */

.form{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 10px;
}

.form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.display-6 {
  font-size: 1.73rem;
}

.med-row:hover{
  cursor: pointer;
}

.med-actions{
  position: absolute;
  background-color: red!important;
  border-radius: 5%;
  color: white !important;
}